
/*
color used
main layout: #0b1e20;
gray (light): #d2dbcf;
gray: #c7b8bd;
pink (for links): #c7b8bd;
orange (for links): #ffa386
white: #ffffff
*/

:root {
  --main-bg-color: #0b1e20;
  --secondary-bg-color: #d2dbcf;
  --main-font-color: #fff;
  --secondary-font-color: #0b1e20;
  --link-color: #c7b8bd;
  --visited-link-color: #ffa386;
  --button-color: #fff;
  --hover-button-color: #c7b8bd;
  --font-size: 16px;
  --header-font-size: 30px;
  --font-weight: 400px;
  --header-font-weight: 700px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Lato', sens-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--main-font-color);
  line-height: 1.6;
}

h1 {
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

.header {
  display: flex;
  width: 100%;
  margin: 5px;
  margin-bottom: 0;
  border-bottom: 2px solid var(--secondary-bg-color);
}

.header__item {
  flex: 0 1 100px;
}

.header__item:first-child {
  height: 100px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.header__item:last-child {
    flex-grow: 1;
    text-align: right;
    margin-right: 40px;
}

.nav-list {
  list-style-type: none;
  margin-top: 60px;
}

.nav-list li{
  display: inline-block;
}

.nav-list__item, .nav-list__item--active {
  text-decoration: none;
  color: inherit;
  padding: 7px;
}

.nav-list__item:hover,  .nav-list__item--active:hover, .nav-list__item:focus,  .nav-list__item--active:focus {
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

.container {
  max-width: 700px;
  margin: 90px auto;
}

.container__picture {
  float: left;
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-right: 50px;
}

.container__desc span {
  font-weight: bolder;
  color: #c7b8bd;
}

.introduction {
  padding: 10px;
}

.introduction__link {
  text-decoration: none;
  color: var(--link-color);
}

.introduction__link:visited {
  color: var(--visited-link-color);
}

.introduction__link:hover , .introduction-desc__link:focus, .introduction__link:active {
  text-decoration: underline;
}

.container__button, .button {
  background-color: var(--button-color);
  font-family: inherit;
  color: var(--secondary-font-color);
  padding: 5px;
  border: 1px solid rgba(0 ,0 ,0 , 0.3);
  border-radius: 5px;
  transition: 0.5s opacity;
}


.container_button:hover, .container_button:focus, .button:hover, .button:focus {
  color: var(--hover-button-color);
  cursor: pointer;
  opacity: 0.3;
}

.footer {
  clear: both;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media__link {
  background-color: var(--secondary-bg-color);
  padding: 1px;
  border-radius: 50%;
}

.mywork {
  width: 100%;
  padding: 0 15px;
}

.mywork h1 {
  text-align: center;
  padding: 2px 10px;
  margin: 20px;
  margin-bottom: 10px;
}

/* start grid fallback */
.worklist__item {
  display: inline-block;
  width:33%;
}
/* end grid fallback */

@supports (display:grid) {

  .worklist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 25px 0px;
    border-bottom: 2px solid #d2dbcf;
  }

  .worklist__item {
    width: auto;
    min-height: auto;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    padding: 0 10px;
    color: var(--secondary-font-color);
    text-align: center;
  }
}

.worklist__item h2 {
  padding: 2px;
  margin: 2px;
  margin-top: 5px;
}

.worklist__item p {
  text-align: left;
}

.aboutme {
    /* border-bottom: 2px solid #d2dbcf; */
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding-bottom: 20px;
}

.aboutme h1{
  padding-left: 150px;
  padding-top: 50px;
  margin-top: 0;
}

.aboutme-description {
  display: flex;
  flex-direction: row;
}

.aboutme-description__item:first-child {
  text-align: left;
  padding: 5px 20px 10px 150px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.aboutme-description__item:last-child {
  text-align: justify;
  padding: 5px 150px 10px 20px;
  margin-left: 20px;
}

.aboutme img, .certificates img {
  display: block;
  margin: 30px auto 10px auto;
  width: 50%;
}
 .aboutme a
 {
   background-color: var(--button-color);
   text-decoration: none;
   margin-left: 5px;
 }

.biography {
  border-bottom: 2px solid var(--secondary-bg-color);
}

.biography div {
  display: flex;
  flex-direction: row;
}

.biography p {
  text-align: justify;
  padding: 60px;
  margin: 20px;
}

.biography p:first-child {
  margin-left: 50px;
}

.biography p:last-child {
  margin-right: 50px;
}

.biography .berlin-illustration {
  display: block;
  margin: 30px auto 10px auto;
  width: 50%;
  padding-bottom: 20px;
}

@keyframes color-change {
  0% {
    fill: #fff;
  }
  25% {
    fill: #bfbfbf;
  }
  50% {
    fill: gray;
  }
  75% {
    fill: #404040;
  }
  100% {
    fill: black;
  }
}


#path178, #path180, #path182, #path184, #path186, #path188 {
  animation: 5s color-change infinite alternate linear;
}

@keyframes rotating-base {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 100px);
  }
}

#path22 {
  animation: 10s rotating-base infinite alternate linear;
}

.certificates h2 {
  padding: 10px;
  margin: 40px 30px;
  text-align: center;
}

.technical-certificates {
  max-width: 1400px;
  margin: 25px auto 35px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  text-align: center;
}


@media all and (max-width: 500px) {
  .worklist {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }

  .aboutme-description, .biography div, .technical-certificates {
    flex-direction: column;
  }

  .aboutme h1, .aboutme-description__item:first-child, .aboutme-description__item:last-child{
    padding: 5px 20px 10px 20px;
    margin: 0 20px;
  }

}
/*
color used
main layout: #0b1e20;
gray (light): #d2dbcf;
gray: #c7b8bd;
pink (for links): #c7b8bd;
orange (for links): #ffa386
white: #ffffff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf0fa;
  font-family: 'Lato', sens-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700px;
}

h2 {
  font-size: 24px;
  font-weight: 700px;
}

h3 {
  font-size: 18px;
  font-weight: 700px;
}

nav {
  height: 10vh;
  background-color: #001133;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: sticky;
  top: 0;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-list li {
  list-style: none;
}

.nav-list__item, .nav-list__item--active {
  text-decoration: none;
}

.nav-list__item:hover,  .nav-list__item--active:hover, .nav-list__item:focus,  .nav-list__item--active:focus {
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

.burger-menu{
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}

.introduction {
  background-color: #001133;
  display: flex;
  flex-direction: column;
}

.introduction h1 {
  letter-spacing: 2px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container__picture {
  display: block;
  margin: 50px auto;
  width: 35%;
  border-radius: 50%;
}

.description {
  padding: 0 10px;
}

.description h1.name {
  margin: 0;
}
.description h5 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 0;
}

.description .my-message {
  max-width: 40%;
  margin: 10px auto 20px auto;
}

.footer {
  display: flex;
  width: 100%;
  margin: 20px 0;  
}

.footer a {
  text-decoration: none;
  margin: 5px;
  font-size: 28px;
}

.footer a:first-child {
  margin-left: auto;
}

.footer a:last-child {
  margin-right: auto;
}

.aboutme {
  background-color: #d1d1e0;
  color: #000033;
  display: flex;
  flex-direction: column;
}

.aboutme h3{
  text-align: center;
  padding: 20px 0 15px 0;
}

.aboutme-description {
  display: flex;
  flex-direction: column;
}

.aboutme-description__item:first-child {
  text-align: justify;
  padding: 5px 100px;
  margin: 5px 45px;
  font-size: 20px;
  font-weight: bold;
}

.aboutme-description__item:nth-child(2){
  text-align: justify;
  padding: 5px 35px;
  margin: 20px 45px;
}

.aboutme-description__item:last-child{
  text-align: center;
  width: 25%;
  margin: 10px auto 50px auto;
}

body a {
  text-decoration: none;
  color: #fff;
}

 .button {
  background-color: #004080;
  font-family: inherit;
  color: #fff;
  padding: 5px;
  border: 1px solid rgba(0 ,0 ,0 , 0.3);
  border-radius: 5px;
  transition: 0.5s opacity;
}


.container_button:hover, .container_button:focus, .button:hover, .button:focus {
  color: var(--hover-button-color);
  cursor: pointer;
  opacity: 0.3;
}

.projects {
  background-color: #001133;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 1px auto 0 auto;
}

.projects h3{
  text-align: center;
  padding: 20px 0 15px 0;
}

.projects div {
  /* display: flex; */
  margin: 15px auto;
  padding: 5px;
}

.projects img {
  width: 200px;
  height: 150px;
}

.contact {
  background-color: #d1d1e0;
  color: #000033;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.contact h3{
  text-align: center;
  padding: 20px 0 15px 0;
  font-size: 22px;
  letter-spacing: 1px;
}

.contactinfo a {
  color: #000033;
}

.contactinfo {
  text-align: center;
}

.form {
  width: 65%;
  margin: 5px auto 25px auto;
}

.form p {
  text-align: justify;
}

.form input, .form textarea {
  width: 100%;
}

.myprojects {
  width: 98%;
  background-color: #001133;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.heading {
  height: 13vh;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #fff;
  color: #001133;
  margin-top: 3px;
  border-radius: 5px;
}

.heading h1 {
  text-align: center;
  padding: 15px 5px;
  font-size: 28px;
}

.project-item {
  height: 85vh;
  position: relative;
  background-color: #fff;
  color:#001133;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
  border-radius: 5px;
}

.project-item img {
  position: absolute;
  top: 0;
  margin: 15px auto;
  width: 380px;
  height: 280px;
}

.project-item p {
  position: absolute;
  top: 310px;
  left: 25px;
  right: 25px;
  text-align: justify;
}

.project-item ul {
  position: absolute;
  top: 420px;
  left: 35px;
}

.project-item li {
  font-weight: bold;
  margin-left: 15px;
  list-style-type: square;
  /* text-transform: uppercase; */
}

.project-item li:first-child{
  color: #660000;
}

.project-item li:nth-child(2){
  color:  #006600;
}

.project-item li:nth-child(3){
  color: #004080;
}

.project-item .link {
  position: absolute;
  top: 530px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.project-item .link a {
  background-color: #004080;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0;
}

@media (max-width:1440px) {
  .myprojects {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .heading {
    grid-column-end: 3;
  }
  
  .heading {
    width: 100%;
  }
  
  .heading h1 {
    text-align: center;
    padding: 5px 5px 20px 5px; 
    font-size: 22px;
  }
  
  
  .project-item {
    height: 150vh;
  }

  @media screen and (max-width:768px) {

    body {
      width: 100%;
      overflow-x: hidden;
      font-size: 15px;
    }
  
    h1 {
      font-size: 25px;
    }
    
    h2 {
      font-size: 22px;
    }
    
    h3 {
      font-size: 18px;
    }
    
    .logo {
      letter-spacing: 3px;
      font-size: 20px;
    }
  
    .nav-list {
      position: absolute;
      right: 0px;
      height: 30vh;
      top: 11vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transfrom 0.5s ease-in;
      background-color:  #000033;
      border-bottom: 1px solid #fff;
    }
      
    .burger-menu {
      display: block;
    }
  
    .introduction h1 {
      letter-spacing: 2px;
    }
    
     
    .description {
      padding: 0 10px;
    }
    
    .description h1.name {
      margin: 0;
    }
    
    .container__picture {
      width: 45%;
    }
    
    .description .my-message {
      max-width: 70%;
      margin: 10px auto;
    }
    
    .footer {
      margin: 20px 0;  
    }
    
    .footer a {
      font-size: 24px;
    }
   
    .aboutme-description__item:first-child {
      padding: 5px 10px;
      font-size: 18px;
    }
    
    .aboutme-description__item:nth-child(2){
      max-width: 97%;
      padding: 5px 0;
    }
    
    .aboutme-description__item:last-child{
      text-align: center;
      width: 25%;
      margin: 10px auto 50px auto;
    }
    
    .button {
      background-color: #004080;
      font-family: inherit;
      color: #fff;
      padding: 5px;
      border: 1px solid rgba(0 ,0 ,0 , 0.3);
      border-radius: 5px;
      transition: 0.5s opacity;
    }
    
    .projects div {
      display: flex;
      flex-direction: column;
    }
  
    .projects img {
      margin: 10px auto;
    }
    
    .contact {
      background-color: #d1d1e0;
      color: #000033;
      display: flex;
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;
    }
    
    .contact h3{
      text-align: center;
      padding: 20px 0 15px 0;
      font-size: 22px;
      letter-spacing: 1px;
    }
    
    .contactinfo a {
      color: #000033;
    }
    
    .contactinfo {
      text-align: center;
    }
    
    .form {
      width: 65%;
      margin: 5px auto 25px auto;
    }  
  
    .myprojects {
      width: 98%;
      background-color: #001133;
      display: flex;
      flex-direction: column;
    }
    
    .heading {
      width: 100%;
    }
    
    .heading h1 {
      text-align: center;
      padding: 5px 5px 20px 5px; 
      font-size: 22px;
    }
    
    .project-item {
      width: 100%;
      height: 150vh;
    }
    
    .project-item img {
      margin: 15px auto;
      width: 380px;
      height: 280px;
    }
    
  }
}​


.nav-active {
  transform: translateX(0%);
}
